blfa.xcodeproj/project.xcworkspace/xcuserdata/gumbypp.xcuserdatad/UserInterfaceState.xcuserstate
blfa.xcodeproj/xcuserdata/gumbypp.xcuserdatad/xcschemes/xcschememanagement.plist
blfa.xcworkspace/contents.xcworkspacedata
blfa.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
blfa.xcworkspace/xcuserdata/gumbypp.xcuserdatad/UserInterfaceState.xcuserstate
blfa.xcworkspace/xcuserdata/gumbypp.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
blfa.xcodeproj/project.xcworkspace/contents.xcworkspacedata
blfa.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
